.containerLiturgia{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    margin: 30px auto;
}

.containerLinks{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    justify-content: space-around;
    margin: 0 auto;
}
.containerLinks a{
    border-bottom: 1px solid var(--vermelho);
}

.containerLeituras{
    width: 800px;
    background-color: var(--bg-oracao);
    padding: var(--padding-oracao);
    border-radius: var(--radius-oracao);
    margin: 0 auto;
}
.subtitulo{
    text-align: center;
}

@media screen and (max-width:576px) {
    .containerLiturgia{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap:20px
    }
    .containerLeituras{
        width: 90%;
    }
}