.Botao{
    padding: 8px;
    background-color: var(--cinza);
    border: 1px solid var(--vermelho);
    border-radius: 15px;
    color: var(--vermelho);
    font-size: 1.3rem;
    font-weight: bold;
    margin: 8px;
    cursor:pointer;
}
