.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FolderInicial{
    background-image:  url('/images/Capa-10.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1000px;
    height: 550px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 30px;
}
.FolderInicial h1{
    font-size: 2.4rem;
    text-align: left;
    width: 350px;
}

.container{
    width: 800px;
}
.Paroquia{
    border: 2px solid var(--vermelho);
    border-radius: 12px;
    width: 1000px;
    padding: 10px auto;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.PalavraCard div{
    display: flex;
    flex-direction: column;
}

.Paroquia div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ParoquiaCard{
    border:2px solid var(--cinza-escuro);
    width: 350px;
    margin: 15px ;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap:5px;
}

.ParoquiaCard img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 12px;
}

.ParoquiaCard p{
    color: var(--preto);
    font-weight: 100;
}

.ParoquiaAcao{
    border: 2px solid var(--vermelho);
    border-radius: 12px;
    width: 1000px;
    padding: 10px auto;
    display: flex;
    flex-direction: column;
    margin: 30px;

}

.ParoquiaAcao p{
    padding: 1rem;
}
.AcaoCard{
    border:2px solid var(--cinza-escuro);
    width: 90%;
    margin: 15px auto;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap:5px;
}
.AcaoCard img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 12px;
}

.AcaoCard div{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto 10px;
}

.AcaoCard p{
    color: var(--preto);
    font-weight: 100;
}

.AcaoCard small{
    text-align: right;
}

.ContainerContatos{
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-top: 30px;
    justify-content: space-between;
}

.ContainerIcons{
    display: flex;
    justify-content: space-between;
}
.ContainerIcons img{
    width: 80px;
}

.ParoquiaCard small{
    width: 70%;
    text-align: right;
    color: var(--preto)
}

/* Estilo para os botões do carrossel */
.carousel-control-prev, 
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo transparente escuro para as setas */
  border-radius: 50%; /* Tornar os botões redondos */
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
  filter: invert(1); /* Inverter as cores para as setas ficarem visíveis em fundo escuro */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Cor um pouco mais forte ao passar o mouse */
}

.click{
    color: var(--vermelho);
}


/*telas de celulares*/
@media screen and (max-width: 576px) {
   
    .FolderInicial{
        width: 95%;
        background-size: 100%;
        height: 200px;
        flex-direction: row;
        padding: 5px;
        justify-content: center;
        align-items: end;
        margin-bottom: 10px;
    }
    .FolderInicial h1{
        background-color: rgb(255,255,255, 0.8);
        border-radius: 12px;
        font-size: 1rem;
        text-align: center;
        padding: 5px 10px;
    }
    .container{
        width: 100%;
    }
    .Paroquia,
    .ParoquiaAcao{
        width: 100%;
        margin: 3px;
        padding: 0;
    }

    .Paroquia div{
        flex-direction: column;
    }

    .ContainerParoquiaCard{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ParoquiaCard{
        width: 90%;
    }
    .ParoquiaCard img{
        width: 95%;
    }
    .ParoquiaCard p{
        color: var(--preto);
        font-weight: 100;
    }
    .ContainerContatos{
        flex-direction: column;
        width: 90%;
        margin-top: 10px;
        justify-content: space-between;
    }
    
    .ContainerIcons{
        display: flex;
        justify-content: space-between;
    }
    .ContainerIcons img{
        width: 60px;
    }

    .AcaoCard{
        width: 93%;
        margin: 10px  auto;
        flex-direction: column;
        padding: 1rem .2rem;
    }

    .AcaoCard img{
        max-width: 90%;
    }
    
    .AcaoCard div{
        width: 90%;
    }

    .textComunidade{
        height: 250px;
        overflow: hidden;
    }
    
    .textComunidadeLink{
        color: var(--vermelho-escuro);
        text-align: right;
        border: none;
        background-color: var(--cinza);
    }
}