@media (max-width: 767px){
    .HomePublicacao {
        position: fixed; /* A imagem será fixa na tela */
        top: 20vw; /* Distância do topo da tela */
        left: 50%; /* Centraliza horizontalmente */
        transform: translateX(-50%); /* Ajuste para centralizar a imagem */
        z-index: 9999; /* Garante que a imagem fique sobre outros elementos */
        width: 80vw;
    }
    
    .HomePublicacao img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
    
    .HomePublicacao button {
        position: absolute; /* Fixa o botão no canto superior esquerdo da imagem */
        top: 10px;
        right: 10px;
        background: transparent;
        border: 1px solid var(--vermelho);
        border-radius: 10px;
        padding: .3rem .5rem;
        opacity: 75%;
        font-size: 1rem;
        font-weight: bold;
        color: var(--vermelho);
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .HomePublicacao {
        position: fixed; 
        transform: translateX(-50%);
        z-index: 9999;
        width: 80vw;
        display: flex;
        justify-content: center;
    }
    
    .HomePublicacao img {
        max-width: 70vw;
        height: auto;
        border-radius: 10px;
    }
    
    .HomePublicacao button {
        position: absolute;
        top: 10px;
        right: 30%;
        background: transparent;
        border: 1px solid var(--vermelho);
        border-radius: 10px;
        padding: .3rem .5rem;
        opacity: 75%;
        font-size: 1rem;
        font-weight: bold;
        color: var(--vermelho);
        cursor: pointer;
    }
}