
.Comunidades{
    margin: 0 auto;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.containerBotao{
    display: flex;
    flex-direction: column;
}

.containerComunidades{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.containerBotao h3{
    margin-top: 15px;
}

@media (min-width: 768px) {
    .containerComunidades{
        flex-direction: row;
        justify-content: space-around;
    }
    
    .containerBotao{
        width: 45%;
    }
}
