.Oracoes{
    width: 80%;
    margin: 0 auto;
}
.containerOracao{
    display: flex;
    align-items: center;
}

.containerLinks {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.menu{
    display: none;
}
.menuOpen{
    display: flex;
    flex-direction: column;
    background-color: var(--cinza);
    position: absolute;
    top:150px;
    left: 50%;
    width: 50%;
    gap:20px;
    padding: 15px;
}
.Misterios{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 576px) {
    .Oracoes{
        width: 100%;
    }
    .containerLinks {
        display: none;
    }
    .menu{
        display: block;
        width: 25px;
        height: 25px;
    }
    
}